{% load static %}

<link rel="stylesheet" href="{% static 'panel/style.css' %}" />

<head>
  <title>DEMO</title>
</head>
<div>
  <div class="outer">
    <div class="title">
      <h1 style="font-size: medium">Sprint API Application Demonstration</h1>
    </div>

    <form class="form-group" action="/storecredentials" method="get">
      <input id="username" type="text" name="username" value="" />
      <input id="password" type="password" name="password" value="" />
      <button type="submit" class="btn">Remember credentials</button>
    </form>
    <form class="form-group" action="loadcredentials" method="get">
      <label>Load session</label>
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>
    <form class="form-group" action="/follow" method="get">
      <label>Follow profile</label>
      <input id="link" type="text" name="link" value="migos" />
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/like" method="get">
      <label>Like post</label>
      <input id="link" type="text" name="link" value="https://www.instagram.com/p/ChslcDvvQqE" />
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/comment" method="get">
      <label>Comment on post</label>
      <input id="link" type="text" name="link" value="https://www.instagram.com/p/ChslcDvvQqE" />
      <label>Text</label>
      <input id="comment" type="text" name="comment" value="This is so cool!" />
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/commentOnProfilePosts" method="get">
      <label>Comment on profile's posts</label>
      <input id="targetUsername" type="text" name="targetUsername" value="migos" />
      <label>Comments (separated by comma)</label>
      <input id="comments" type="text" name="comments"
        value="This is so cool!, Wow this is AMAZING. Thanks., This left me in tears. I am glad this is published." />
      <label><input type=checkbox name="like" id="like" checked="True" unchecked="False">Like</label>
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/followUsernames" method="get">
      <label>Follow target profiles, separated by comma, as the selected account</label>
      <input id="targets" type="text" name="targets" value="migos, chieffkeeffsossa, instagram" />
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/likePostsOfUsernamesProfiles" method="get">
      <label>Like posts of target profiles, separated by comma, as the selected account</label>
      <input id="targets" type="text" name="targets" value="instagram, migos" />
      <input id="count" type="number" name="count" value="3" />
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/scrapeHashtag" method="get">
      <label>Scrape profiles on hashtag</label>
      <label>Hashtag</label>
      <input id="hashtag" type="text" name="hashtag" value="paintings" />
      <div class="profil
      es-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>

    <form class="form-group" action="/scrapeFollowers" method="get">
      <label>Scrape profile followers</label>
      <input id="link" type="text" name="link" value="https://www.instagram.com/robfranzese" />
      <label>Amount</label>
      <input id="amount" type="number" name="amount" value="12" />
      <div class="profiles-display">
        {% if accounts %}
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
        {% endif %}
      </div>
    </form>
  </div>
</div>