{% load static %}

<link rel="stylesheet" href="{% static 'panel/style.css' %}" />

<head>
  <title>DEMO</title>
</head>
<div>
  <div class="outer">
    <div class="title">
      <h1 style="font-size: medium">Sprint 2 API Application Demonstration</h1>
    </div>

    <form class="form-group" action="storecredentials" method="get">
      <input id="username" type="text" name="username" value="" />
      <input id="password" type="password" name="password" value="" />
      <button type="submit" class="btn">Remember credentials</button>
    </form>
    <form class="form-group" action="loadcredentials" method="get">
      <label>Load session</label>
      <div class="profiles-display">
        {% for account in accounts %}

        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
      </div>
    </form>
    <form class="form-group" action="/follow" method="get">
      <label>Follow profile</label>
      <input id="link" type="text" name="link" value="https://instagram.com/migos/" />
      <div class="profiles-display">
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
      </div>
    </form>

    <form class="form-group" action="/like" method="get">
      <label>Like post</label>
      <input id="link" type="text" name="link" value="https://www.instagram.com/p/ChslcDvvQqE" />
      <div class="profiles-display">
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
      </div>
    </form>

    <form class="form-group" action="/comment" method="get">
      <label>Comment on post</label>
      <input id="link" type="text" name="link" value="https://www.instagram.com/p/ChslcDvvQqE" />
      <label>Text</label>
      <input id="comment" type="text" name="comment" value="This is so cool!" />
      <div class="profiles-display">
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
      </div>
    </form>

    <form class="form-group" action="/scrapefollowers" method="get">
      <label>Scrape profile followers</label>
      <input id="link" type="text" name="link" value="https://www.instagram.com/robfranzese/" />
      <label>Amount</label>
      <input id="amount" type="number" name="amount" value="12" />
      <div class="profiles-display">
        {% for account in accounts %}
        <button type="submit" id="username" name="username" value={{account.username}}
          class="btn">{{account.username}}</button>
        {% endfor %}
      </div>
    </form>
  </div>
</div>